.navbar{
  position: absolute;
  top:0%;
  height: 100px;
  width: 100%;
  background-color: #070707;
}
body {
  background-color: #f8f8f8;
  font-family: "Poppins", sans-serif;  
 }
.navbar__img{
transform: scale(0.3);
position: relative;
bottom:165%;
right: 35%;
}
.navbar__links{
  position: absolute;
  top:10%;
  right: 42%;
  display:flex;
  justify-content: center;
  gap: 2.4em;
  list-style-type: none;
  padding-top: 1%;
}
.navbar__links a {
  font-size: 1.4rem;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  color: #eeeef2;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
  
}
.home-main{
  position: absolute;
  bottom:58.2%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  
}
.homebutton{
  position: absolute;
  left:3%;
bottom: 15%;
}
.home-img{
  z-index: 2;
  position: absolute;
  transform: scale(0.4);
  top:-29%;
  margin-top: 6.5rem;

}
.home-title{
  position:relative;
}
span {
  color:orange;
}
.red{
  color:rgb(236, 99, 50)
}
.bg-shape {
  position: absolute;
  top: 17.5%;
  right: 0;
  z-index: 1;

  @media (max-width: 800px) {
    display: none;
  }
}
.glow-on-hover {
  left:10%;
  bottom: 48.4%;
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: absolute;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}


.carrigth{
  position: absolute;
  left:60%;
  top:70%;
  font-size: large;
  font-family: Georgia, serif;
  
}
.carleft{
  position: absolute;
  top:70%;
  font-size: large;
  font-family: Georgia, serif;
  
}

.carFull{
  position: absolute;
  top:41.8%;
  color: #131314;
 
  }

.about-main{
  position: relative;
  bottom:65%;
}
.about-bgimg{
  position: absolute;
 top:2.6cm;
 right:0cm;
 width: 100%;
 height:83%;
  z-index: -1;
  filter: brightness(60%);

 
}
.about-com{
  position:absolute;
  text-align: center;
  background-image: url("/src/images/goodbg.png");
  background-position: right center;
  top:120px;
  left:11.5cm;
  width:10cm;
  border: 10px solid #121211;
  border-radius: 15px 50px;
}
.about-work{
  position: absolute;
  top:456px;
  right: 21%;
}
.about-con{
  position: absolute;
  top:456px;
  left:8cm;
}
.phone-img{
  position: absolute;
  top:58px;
  left:0.1cm;
  height: 0.9cm;
  width: 0.9cm;
}
.email1-img{
  position: absolute;
  top:90px;
  left:0.1cm;
  height: 0.9cm;
  width: 0.9cm;
}

h3.contact {
  position: absolute;
  top: 48px;
  left: 41px;
  font-family:oldstyle;
}
h3.email {
  position: absolute;
  top: 75px;
  left: 41px;
  font-family:oldstyle;
}
.footer-content {
  
  list-style: none;
  font-size:21px;
 
}
li.work {
  font-size: h3-size;
  font-weight: 700;
  text-transform: uppercase;
  font-family: titles-font;
  cursor: auto;
}
.review1{
  position: absolute;
  top: 6.5cm;
  left: 1cm;
  width: 10cm;
  background-color: white;
  box-shadow: 0 20px 40px 0 rgb(0 0 0 / 8%);
}
.review1-img{
  position: absolute;
  top:167px;
  left:0.1cm;
  height: 1cm;
  width: 1cm;
  border-radius: 50%;
}
h1.harry{
  position: relative;
  left:1.1cm;
}
h1.hermi{
  position: relative;
  left:1.2cm;
}
.review2-img{
  position: absolute;
  top:144px;
  left:0.1cm;
  height: 1.1cm;
  width: 1.1cm;
  border-radius: 50%;
}
.quote{
  position: absolute;
  top:3.9cm;
  left:8cm;
  height: 1.1cm;
  width: 1.1cm;
  border-radius: 50%;
}
.quote1{
  position: absolute;
  top:4.4cm;
  left:8cm;
  height: 1.1cm;
  width: 1.1cm;
  border-radius: 50%;
}
.review2{
  position: absolute;
  top: 6cm;
  left: 23cm;
  width: 9.5cm;
  background-color: white;
  box-shadow: 0 20px 40px 0 rgb(0 0 0 / 8%);
}



.box-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 2rem;
}
.book-section {
  position: absolute;
   top:23%;
   left:0%;
  background: linear-gradient(to bottom, gray 20%, white 80%);
}
.book-content {
  margin: 0 auto;
  margin-bottom: 10rem;
}

.book-content__box {
  background-color: white;
  width: 100%;
  padding: 4rem 4.5rem 5rem 5.5rem;
  box-shadow: 0 10px 20px 0 rgb(0 0 0 / 10%);
  height: auto;
  position: relative;
  z-index: 4;
  color: white;
  border-radius: 5px;
  background-image: url("/src/images/bg-carform.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  color: text-black;
}
