.home-main{
  position: absolute;
  bottom:70%;
  
}
.about-main{
  position: absolute;
  bottom:70%;
  
}
.navbar__img{
transform: scale(0.3);
position: absolute;
bottom:49%;
right:75%;
}
.navbar__links{
  display:flex;
  justify-content: center;
  gap: 2.4em;
  list-style-type: none;
}
.navbar__links a {
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  color: #171769;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
  
}
.home-img{
  position: absolute;
  left:60%;
  top:14%;
  transform: scale(0.8);
}