.home-main{
  position: absolute;
  bottom:58.2%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  
}
.rigth{
  position: absolute;
  left:60%;
  top:70%;
  font-size: large;
  font-family: Georgia, serif;
  
}
.left{
  position: absolute;
  top:70%;
  font-size: large;
  font-family: Georgia, serif;
  
}
.button{
  position: absolute;
  left:3%;
bottom: 15%;
}
.homeFull{
  position: absolute;
  top:41.8%;
  color: #131314;

  }
.about-main{
  position: relative;
  bottom:65%;
  
}
.about-com{
  position:absolute;
  text-align:center;
  top:120px;
  width:10cm;
  border: 10px solid #e4fa74;
  border-radius: 15px 50px;
}
.navbar{
  
  position: absolute;
  
  top:0%;
  height: 100px;
  width: 100%;
  background-color: #070707;
 
}
body {
  background-color: #f8f8f8;
  font-family: "Poppins", sans-serif;

   
  
 }
.navbar__img{
transform: scale(0.3);
position: relative;
bottom:165%;
right: 35%;
}
.navbar__links{
  position: absolute;
  top:10%;
  right: 42%;
  display:flex;
  justify-content: center;
  gap: 2.4em;
  list-style-type: none;
  padding-top: 1%;
}
.navbar__links a {
  font-size: 1.4rem;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  color: #eeeef2;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
  
}
.home-img{
  z-index: 2;
  position: absolute;
  transform: scale(0.4);
  top:-29%;
  margin-top: 6.5rem;

}
.home-title{
  position:relative;
}
span {
  color:orange;
}
.red{
  color:rgb(236, 99, 50)
}

.glow-on-hover {
  left:10%;
  bottom: 48.4%;
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: absolute;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.box-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 2rem;
}
.book-section {
  position: absolute;
   top:23%;
   left:0%;
  background: linear-gradient(to bottom, gray 20%, white 80%);
}
.book-content {
  margin: 0 auto;
  margin-bottom: 10rem;
}

.book-content__box {
  background-color: white;
  width: 100%;
  padding: 4rem 4.5rem 5rem 5.5rem;
  box-shadow: 0 10px 20px 0 rgb(0 0 0 / 10%);
  height: auto;
  position: relative;
  z-index: 4;
  color: white;
  border-radius: 5px;
  background-image: url("/src/images/bg-carform.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  color: text-black;
}
.bg-shape {
  position: absolute;
  top: 17.5%;
  right: 0;
  z-index: 1;

  @media (max-width: 800px) {
    display: none;
  }
}